<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907373883526-cvugo9m1m7b1vgkm8598uiek5kme570k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907373883526-cvugo9m1m7b1vgkm8598uiek5kme570k</string>
	<key>API_KEY</key>
	<string>AIzaSyApb6tR53m1BXp_fxiVYnkmzYfsd4gAOR4</string>
	<key>GCM_SENDER_ID</key>
	<string>907373883526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kliky</string>
	<key>PROJECT_ID</key>
	<string>kliky-7f331</string>
	<key>STORAGE_BUCKET</key>
	<string>kliky-7f331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907373883526:ios:5d89ecb34df0937a4b6107</string>
</dict>
</plist>